@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.s1 {
    text-align: center;
    color: red;
}

.s2 {
    text-align: center;
    color: #51ff00;
}
